In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from  sklearn import linear_model

In [4]:
df = pd.read_csv('D:\\CDAC\\Github\\Machine_Learning_Tutorials\\homeprice_mv.csv')
df

   area  bedrooms  age   price  Unnamed: 4
0  2600       3.0   20  550000         NaN
1  3000       4.0   15  565000         NaN
2  3200       NaN   18  610000         NaN
3  3600       3.0   30  595000         NaN
4  4000       5.0    8  760000         NaN
5  4100       6.0    8  810000         NaN

In [5]:
df = df.drop('Unnamed: 4',axis=1)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [7]:
df.bedrooms.median()

4.0

In [8]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df.isnull().sum()

area        0
bedrooms    0
age         0
price       0
dtype: int64

In [9]:
x = df.iloc[:,:-1]
y= df.iloc[:,-1]

In [10]:
reg = linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [11]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [12]:
reg.intercept_

221323.0018654043

# Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [13]:
reg.predict([[3000,3,40]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])