In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets,metrics,linear_model

In [2]:
df=pd.read_csv('D:\\CDAC\\Github\\Machine_Learning_Tutorials\\50_Startups.csv')

In [3]:
df.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [6]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [7]:
df['State']=df['State'].map({'New York':1, 'California':2, 'Florida':3})

In [8]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      1  192261.83
1  162597.70       151377.59        443898.53      2  191792.06
2  153441.51       101145.55        407934.54      3  191050.39
3  144372.41       118671.85        383199.62      1  182901.99
4  142107.34        91391.77        366168.42      3  166187.94

In [9]:
df.describe()

,R&D Spend,Administration,Marketing Spend,State,Profit
count,50.000000,50.000000,50.000000,50.000000,50.000000
mean,73721.615600,121344.639600,211025.097800,1.980000,112012.639200
std,45902.256482,28017.802755,122290.310726,0.820403,40306.180338
min,0.000000,51283.140000,0.000000,1.000000,14681.400000
25%,39936.370000,103730.875000,129300.132500,1.000000,90138.902500
50%,73051.080000,122699.795000,212716.240000,2.000000,107978.190000
75%,101602.800000,144842.180000,299469.085000,3.000000,139765.977500
max,165349.200000,182645.560000,471784.100000,3.000000,192261.830000

In [10]:
df.shape

(50, 5)

In [15]:
x=df.iloc[:,:-1]
x.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      1
1  162597.70       151377.59        443898.53      2
2  153441.51       101145.55        407934.54      3
3  144372.41       118671.85        383199.62      1
4  142107.34        91391.77        366168.42      3

In [16]:
y=df.iloc[:,-1]
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [19]:
print(x_test.shape)
print(x_train.shape)

(15, 4)
(35, 4)

In [20]:
print(y_test.shape)
print(y_train.shape)

(15,)
(35,)

In [21]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [22]:
reg.predict(x_test)

array([115659.77059332,  91007.59140397,  75718.32207793,  70729.36239011,
       179757.69526061, 172440.94135307,  49281.64536173, 101666.62716457,
        58621.09593396,  97568.95172458,  97782.46494082,  83841.5166348 ,
       118250.77053583,  76134.28563591, 113913.54143529])

In [23]:
print('coefficient:\n',reg.coef_)

coefficient:
 [ 7.69361997e-01 -1.41406175e-02  3.50942315e-02 -3.88276345e+02]

In [24]:
from sklearn.metrics import r2_score
y_pred=reg.predict(x_test)
score=r2_score(y_test,y_pred)
score

0.9532099796986934